{% set install_objbench = salt['grains.filter_by']({
    'Debian': {
    },
    'RedHat': {
    },    
    'common': {
        'git_url': ' https://github.com/bigbitbus/objectbench.git',
        'install_dir' : '/tmp/objbench',
        'git_rev': 'objtest1',
    }

}, grain='os_family', merge=salt['pillar.get']('objbench:install:lookup'), default='Debian', base='common')%}

{% set execute_objbench = salt['grains.filter_by']({
    'Debian': {
    },
    'RedHat': {
    },    
    'common': {
        'install_dir' : '/tmp/objbench',
        'output_dir': '/tmp/outputdata/objbench',
        'data_dir': '/tmpdata',
        'credentials_dir': '/root/credentials',
        'file_prefix': ['1file_','2file_','3file_','4file_','5file_','6file_','7file_','8file_','9file_','10file_']
    }

}, grain='os_family', merge=salt['pillar.get']('objbench:execute:lookup'), default='Debian', base='common')%}

